<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="registerForm.controls['email']">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="registerForm.controls['password']">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!registerForm.valid">Login</button>
  </form>
</div>