<div class="center-block">
  <mat-form-field class="test">
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
</div>