<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error [hidden]="!emailErrorMessage">{{emailErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" formControlName="password" [type]="passwordType" required>
      <mat-icon matSuffix (click)="toggleShowPassword()">{{visibilityType}}</mat-icon>
      <mat-error [hidden]="!passwordErrorMessage">{{passwordErrorMessage}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="disableLoginButton">Login</button>
  </form>
</div>